<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>145654029756-47m5ah4mklnd2j5a826kr6mf1k1gqmb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145654029756-47m5ah4mklnd2j5a826kr6mf1k1gqmb5</string>
	<key>API_KEY</key>
	<string>AIzaSyDyuoLbc9lP8ULY9KW3rJT1bhoJ5uzufX4</string>
	<key>GCM_SENDER_ID</key>
	<string>145654029756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appleeducate.daily-nasa</string>
	<key>PROJECT_ID</key>
	<string>daily-nasa</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-nasa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145654029756:ios:ad596eda0b208a52</string>
	<key>DATABASE_URL</key>
	<string>https://daily-nasa.firebaseio.com</string>
</dict>
</plist>